.flashcard {
  position: relative;

  &__title {
    margin: 0px;
    padding: 0px;
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 36;
    color: #d89b64;
    text-align: center;
    text-transform: uppercase;
  }

  &__inner {
    position: absolute;
    left: 98px;
    top: 180px;
    width: 466px;
  }

  &__text {
    margin: 0px;
    font-family: "Crimson Text", sans-serif;
    font-weight: normal;
    color: #ffffff;
  }
}
