.page-header {
  display: flex;
  flex-direction: column;
  min-height: 1101px;
  padding: 0px 89px;
  background-color: #151b28;
  background-size: 2000px 0px;
  margin-bottom: 99px;

  &--menu {
    min-height: 0px;
    background-color: #ffffff;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 65px;

    &--line::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 1822px;
      height: 1px;
      background-color: #e6e6e6;
    }

    &--line {
      padding-bottom: 65px;
    }
  }

  &__logo {
    display: flex;
    width: 34px;
    height: 34px;

    p {
      margin: 0px;
      margin-left: 15px;
      color: #fff;
    }
  }
}
