.product {


  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__title {
    margin: 0px;
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 36;
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
