.promo {
  position: relative;

  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  &__wrapper {
    margin-bottom: 123px;
  }

  &__wrapper::before {
    position: absolute;
    content: "";
    left: 700px;
    top: 0px;
    width: 589px;
    height: 189px;
    background-image: url(../img/gratia.png);
  }

  &__title {
    margin: 0px;
    padding-top: 23px;
    padding-bottom: 5px;
    font-size: $font-size--h3;
    line-height: $font-size--h3 + 36;
    text-align: center;
    text-transform: uppercase;
  }

  &__text {
    margin: 0px;
    padding: 0px;
    font-family: "Crimson Text", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #8a8f9c;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    align-self: center;
    position: relative;
    width: 636px;
    height: 300px;
    background-color: rgb(248, 248, 248);

    &--fon {
      width: 636px;
      height: 380px;
      background-color: rgb(21, 27, 40);
    }

    &--locat::before {
      position: absolute;
      content: "";
      left: 265px;
      top: 60px;
      width: 79px;
      height: 175px;
      background-image: url(../img/4-promo.png);
    }

    &--fresh::before {
      position: absolute;
      content: "";
      left: 77px;
      top: 25px;
      width: 449px;
      height: 329px;
      background-image: url(../img/532-promo.png);
      text-shadow: 0px 0px 85px rgb(19, 24, 36);
    }

    &--best::before {
      position: absolute;
      content: "";
      left: 215px;
      top: 63px;
      width: 208px;
      height: 172px;
      background-image: url(../img/16-promo.png);
    }
  }

  &__inner {
    position: absolute;
    left: 77px;
    top: 77px;
    width: 467px;

    &--box {
      position: absolute;
      left: 77px;
      top: 116px;
    }
  }

  &__name {
    margin: 0px;
    font-size: $font-size-h1;
    line-height: $font-size-h1 + 60;
    color: #d89b64;
    text-align: center;
    text-transform: uppercase;
  }

  &__text-block {
    margin: 0px;
    padding: 0px;
    font-family: "Crimson Text", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #8a8f9c;

    &--color {
      color: #ffffff;
      font-weight: normal;
    }
  }
}
